@media(max-width:991px)
{
	.navbar-brand{
    	width: 200px;
	}
	.customer-feed img{
	    max-width: 50%;
	    padding: 5px 0px;
	}
	.banner1{
		margin-top: 50px;
	}
	.banner1 h1{
    font-size: 34px !important;
	}
	nav ul li button{
		margin-bottom: 20px !important;
	}
	footer li{
		border-right: 0;
	}
}
@media(max-width: 775px)
{
	iframe{
		width: 500px;
		height: 300px;
	}
}

@media(max-width: 575px)
{
	.banner1{
		padding-top: 100px;
    	padding-bottom: 100px;
	}
	.banner1 .crds {
	    border-right: none;
	    padding: 20px;
	}
	.panel-grid .textbox {
    	padding: 20px;
	}
	footer h1 {
	    font-size: 30px !important;
	}
	footer ul{
		display: block !important;
	}
	footer ul li a{
		text-decoration: none;
	}
	iframe{
		width: 90%;
		height: 300px;
	}
}